@font-face {
    font-family: 'salinaregular';
    src: url(../fonts/salinaregular.ttf);
}
.header{
	height: 200px;
	position: absolute;
  animation-delay: 0.5s;
	animation-duration: 3s;
}

#content-home{
	animation-delay: 1s;
}

.header-content{
/*background: #9E9E9E none repeat scroll 0% 0%;*/
/*min-height: 75px;*/
float: right;
width: 100%;
}
.info-header{
    float: right;
    width: 40%;
    margin-top: 25px;
}
.input-header, .input-header-bottom{
border-radius: 10px;
border: medium none;
margin-top: 15px;
width: 80%;
}
.input-header-bottom{
width: 100% !important;
}
body{
  background: #E3E3E3; /* For browsers that do not support gradients */
  /*background: -webkit-radial-gradient(circle, #fff,#E3E3E3); /* Safari */*/
  /*background: -o-radial-gradient(circle, #fff,#E3E3E3); /* Opera 11.6 to 12.0 */*/
  background: -moz-radial-gradient(circle,#fff 5%,rgb(219, 219, 219) 50%); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle,#fff 5%,rgb(219, 219, 219) 50%); /* Standard syntax */
}
.content-custom{
	margin-top: 170px;
}
.menu-home{
text-decoration: none;
list-style: none;
padding: 0px;
width: 70%;
transition: all 0.3 ease;
}

.menu-home li{

  font-family: 'salinaregular', serif;

  font-family: "Salina";
    src: url("http://db.onlinewebfonts.com/t/5d649efd0c5c7b0f7fcca5962e781d6e.eot");
    src: url("http://db.onlinewebfonts.com/t/5d649efd0c5c7b0f7fcca5962e781d6e.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/5d649efd0c5c7b0f7fcca5962e781d6e.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/5d649efd0c5c7b0f7fcca5962e781d6e.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/5d649efd0c5c7b0f7fcca5962e781d6e.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/5d649efd0c5c7b0f7fcca5962e781d6e.svg#Salina") format("svg");

  font-size: 50px;
  float: left;
  width: 300px;
border-radius: 40px;
margin-bottom: 10px;
color: #fff;
    border-bottom: 4px solid rgba(0, 0, 0, 0.17);
font-size: 1.5em;
  /*Set our animation play state to paused initially */
}

.menu-home li:hover{
	opacity: 0.7;
	/*background: blue !important;*/
	transition: opacity 0.1s ease-in;

}

.bg-red{
	background: #F36D4A;
}
.bg-tosca{
	background: #75E1B7;
}
.bg-navy{
	background: #6A818F;
}
.icon-menu{
	margin-right: 10px;
}

.shadow-bottom{
  box-shadow: 0 4px 2px -2px gray;
}

.box-video{
  margin-right: 100px;
}

.menu-top{
  padding: 0px;
  list-style: none;
  animation-delay: 1.7s;
}

.menu-top li a{
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'salinaregular', sans-serif;

  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
}

.menu-top  li{
    display: inline;
    /*padding: 10px;*/
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    border-bottom: 4px solid rgba(0, 0, 0, 0.13);
    /* margin-right: 5px; */
}

.menu-top li a:hover{
      opacity: 0.7 !important;
      background: none !important;
  /*background: blue !important;*/
  transition: opacity 0.1s ease-in;
    /* margin-right: 5px; */
}

.menu-top .open > a{
  background: none !important;
}




.left-menu{
      float: left;
    margin: 5px;
    height: 40px;
    width: 40px;
}
.right-menu{
float: left;
    width: 200px;
    margin-top: 10px;
}
.papercraft{
  margin-top:-250px !important;
  background: none !important;
}
.navbar{
  z-index: 100;
}
.content{
  animation-delay: 1.5s;
}
.judul{
  margin-bottom: 30px;
  /*font-family: 'Open Sans Condensed', sans-serif;*/
  font-family: 'salinaregular', sans-serif;
  
  animation-duration: 3s;
  animation-delay: 1s;
}


.view {
   width: 300px;
   height: 200px;
   margin: 10px;
   float: left;
   border: 5px solid #fff;
   overflow: hidden;
   position: relative;
   text-align: center;
   box-shadow: 0px 0px 5px #aaa;
   cursor: default;
}
.view .mask, .view .content {
   width: 300px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view a.info {
   background:url(../img/link.png) center no-repeat;
   display: inline-block;
   text-decoration: none;
   padding:0;
   text-indent:-9999px;
   width:20px;
   height:20px;
}

.fourth-effect .mask {
  position:absolute; /* Center the mask */
  top:50px;
  left:100px;
  cursor:pointer;
    border-radius: 50px;
    border-width: 50px;
    display: inline-block;
    height: 100px;
    width: 100px;
  border: 50px solid rgba(0, 0, 0, 0.7);
  -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
  opacity:1;
  visibility:visible;
  -moz-transform:scale(4);
  -webkit-transform:scale(4);
  -o-transform:scale(4);
  -ms-transform:scale(4);
  transform:scale(4);
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}
.fourth-effect:hover .mask {
   opacity: 0;
   border:0px solid rgba(0,0,0,0.7);
   visibility:hidden;
}

.third-effect .mask {
opacity: 0;
overflow: visible;
border: 50px solid rgba(0,0,0,0.0);
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
background: rgba(0,0,0,0.7);
text-align: center;
}
.third-effect:hover .mask {
   opacity: 1;
    color: #fff;
   /*border:100px solid rgba(0,0,0,0.7);*/
}

.third-effect:hover .mask a{
    color: #fff;
    text-decoration: none;
   /*border:100px solid rgba(0,0,0,0.7);*/
}

.galeri a img{
  -webkit-animation-fill-mode:both;
}


div.galeri:nth-child(1){ animation-delay: 0.5s }
div.galeri:nth-child(2){ animation-delay: 1s }
div.galeri:nth-child(3){ animation-delay: 1.5s }
div.galeri:nth-child(4){ animation-delay: 2s }
div.galeri:nth-child(5){ animation-delay: 2.5s }
div.galeri:nth-child(6){ animation-delay: 3s }
div.galeri:nth-child(7){ animation-delay: 3.5s }
div.galeri:nth-child(8){ animation-delay: 4s }

/*tampilan papercraft jadi*/
#rambut,#mata,#hidung,#mulut,#alis,#baju,#celana,#sepatu,#kacamata,#topi,#base_paper{
  position: relative;
}
#base_paper{
top: 150px;
left: 40px;
}
#base_paper img{
  width: 300px;
}
#rambut{
top: -302px;
left: 54px;
}
#rambut img{
  width: 270px;
}
#mata{
top: -370px;
left: 77px;
}
#mata img{
  width: 220px;
}
#hidung{
top: -400px;
left: 160px;
}
#hidung img{
  width: 50px;
}
#mulut{
top: -404px;
left: 110px;
}
#mulut img{
  width: 160px;
}
#alis{
top: -550px;
left: 60px;
}
#alis img{
  width: 250px;
}
#baju{
top: -440px;
left: 70px;
z-index: 100;
}
#baju img{
  width: 245px;
}
#celana{
top: -450px;
left: 125px;
}
#celana img{
  width: 135px;
}
#sepatu{
top: -460px;
left: 125px;
}
#sepatu img{
  width: 140px;
}
#kacamata{
top: -1180px;
left: 55px;
}
#kacamata img{
  width: 270px;
}
#topi{
top: -1110px;
left: 55px;
}
#topi img{
  width: 250px;
}
.papercraft-jadi{
  height: 700px;
}

.desain-papercraft{
height: 150px;
background: url('../images/banner/bannerPaper.jpg');
/*padding: 35px 0px 0px 0px;*/
background-size: 100% 150px;
overflow: hidden;
}

.desain-papercraft:hover{

}
.desain-wooden{
height: 150px;
background: url('../images/banner/bannerWooden.jpg');
/*padding: 35px 0px 0px 0px;*/
background-size: 100% 150px;
overflow: hidden;
}

.desain-wooden:hover{

}

.desain-popup{
height: 150px;
background: url('../images/banner/bannerPopup.jpg');
/*padding: 35px 0px 0px 0px;*/
background-size: 100% 150px;
overflow: hidden;
}

.desain-popup:hover{

}
.banner-label{
font-family: 'salinaregular', sans-serif;
font-size: 2.5em;
text-align: center;
/*left: 0px;*/
/*position: absolute;*/

}

.body-content{
padding: 0px 30px;
}

.box-content{
background: #fff;
box-shadow: 0 4px 2px -2px gray;
border: 1px solid #cbcbcb;
}
.box-header{
border-bottom: 1px solid rgb(210, 203, 203);
padding: 10px;
background: #fffabf;
text-align: center;
}
.box-body{
  padding: 10px;
}

.btn-flat{
  border-radius: 0px !important;
}
.no-padding{
  padding: 0px !important;
}
.divider{
  margin-bottom: 15px;
  margin-top: 15px;
}
.select2-container--default .select2-selection--single{
border: 1px solid #d2d6de !important;
border-radius: 0 !important;
/*padding: 6px 12px !important;*/
height: 34px !important;
}

.service{
/*width: 50px;*/
border: 1px solid #7BD133;
border-radius: 50px;
padding: 10px;
/*height: 50px;*/
text-align: center;
font-size: 1.4em !important;
/*float: left;*/
}

.service-right{
padding: 10px;
font-size: 1.5em !important;
}

.large-image-bg {
  background-color: #333;
  filter: alpha(opacity=70);
  left: 0;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.large-image-wrapper {
  background-color: white;
  border: 3px solid #444;
  box-shadow: 0 0 5px #222;
  left: 50%;
  padding: 3px;
  position: fixed;
  top: 50%;
  z-index: 1001;
}
.large-image-close {
  background: transparent url("../img/popup-close-icon.png") no-repeat 0 0;
  height: 32px;
  position: absolute;
  right: -16px;
  text-indent: -9999px;
  top: -16px;
  width: 32px;
} 